layout {

    focus-ring {
        active-color   "#676de4"
        inactive-color "#13142a"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#676de4"
        inactive-color "#13142a"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#13142a70"
    }

    tab-indicator {
        active-color   "#676de4"
        inactive-color "#0c128d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#676de480"
    }
}

recent-windows {
    highlight {
        active-color "#676de4"
        urgent-color "#fd4663"
    }
}
